body{
    text-align: center;
}

.name{
    font-size: 5vmin;
    background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
   animation: gradient 1s ease infinite;
   margin-top: 3%;
}

.profile-pic-img{
    height: 30vmin;
    width: 30vmin;
    margin-top: 5%;
    border-radius: 100%;
}

 #message-icon-img,#github-icon-img,#linkedin-icon-img{
    margin-top: 3%;
    height: 7.5vmin;
    width: 7.5vmin;
}

#message-icon-img:not(:hover),#github-icon-img:not(:hover),#linkedin-icon-img:not(:hover){
   filter: brightness(0);
}

#message-icon-img:hover,#github-icon-img:hover,#linkedin-icon-img:hover{
    cursor: pointer;
 }

